/* This is a class */
.classExample {
    color: blue;
}

/* This is ID formatting */
#idName {
    float: right;
}

/* This formats a specific HTML tag */
h1 {
    text-align: center;
    color: #3f3f3f;
    text-decoration: underline;
}

/* Compund CSS. Only the las nested element is affected */
ul li {
    color: aqua;
}

/* Attribute examples */
div {
    width: 80%; /* Can be set in % or px */
    background-color: burlywood;
    margin-left: auto;  /* When both are set to auto, the element is centered */
    margin-right: auto;
  }

/* Adds a background image to the entire body */
body {
background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg)
}