/* This is a class */
.classExample1, .classExample2 {
    color: blue;
}

/* This is ID formatting */
#idName {
    float: right;
    margin: 10px 20px; /* The first value is for top-bottom and the second one left-right */
}

/* This formats a specific HTML tag */
h1 {
    text-align: center;
    color: #3f3f3f;
    text-decoration: underline;
}

/* Compund CSS. Only the las nested element is affected */
ul li {
    color: aqua;
}

/* Attribute examples */
div {
    width: 80%; /* Can be set in % or px */
    max-width: 500px; /* For very large screens, the width is maxed to this value */
    background-color: burlywood;
    margin-left: auto;  /* When both are set to auto, the element is centered */
    margin-right: auto;
    font-family: Impact, serif; /* Second font is fallback font */
  }

/* Adds a background image to the entire body */
body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg)
}

/* Makes all the p items nested in the .item class behave as inline elements instead of block elements */
.item p {
    display: inline-block;
    background-color: rgb(0,0,255);
    background-color: #0000FFCC; /* Red, Green, Blue, Alpha Channel  */
    background-color: hsla(240, 100%, 50%, 0.8); /* Hue, %Saturation, %Lightness, Alpha Channel  */

    background-color: rgb(255,0,0);
    background-color: #FF0000;

    background-color: rgb(0,255,0);
    background-color: #00FF00;
}

/* Formats visited links */
a:visited {
    color: grey;
}

/* Formats hovered links */
a:hover {
    color: red;
}

/* Formats active links */
a:active {
    color: white;
}

/* Gradients */
.red {                         /* Direction, colo1 stop1, color2 stop2, ... */
    background: linear-gradient(180deg, rgb(122, 74, 14) 0%, rgb(245, 62, 113) 50%, rgb(162, 27, 27) 100%);
    opacity: 0.5;
    color: rgba(255, 255, 255, 50%); /* Las value is alpha-channel or how transparent it is */
    border-left: 30px double red;
    border-right: 10px solid black; /* Width style color */
    box-shadow: 5px 5px 5px 5px red; /* Offset X, offset Y, blur radius, spread radius, color */
  }

.relative {
    height: 100vh; /* 100% of device viewport hegiht */
    height: 100vw; /* 100% of device viewport width */

    width: 40vw; /* 40% of device viewport width */
    width: 40vh; /* 40% of device viewport height */

    margin-left: 10em; /* Relative to font size, 10 times the font size */
    font-size: 16px /* 1em = 16px */
}

html {
    font-size: 100%; /* 100% = 16px */
}

h1 {
    /* Root EM */
    font-size: 2.197rem; /* 2.197 × 16px = 35px */
    margin-top: 1.25rem; /* 1.25rem = 20px, ya que 1.25 × 16 = 20  */
    margin-bottom: 1.25rem;
}

h1:last-of-type { /* Last of that element type in html */
    font-size: 3rem;
}

.inline {
    width: unset; /* Removes this attribute if assigned previously to element */
}

/* Modify elements based on type and name attributes */
input[type="submit"] {
    display: block;
    width: 60%;
}

input[type="password"] {
    display: block;
    width: 60%;
}